@media (max-width: 1200px) {
  .logo{
    width: 150px;
    float: left;
    height: 100px;
    margin-top: -25px;
  }

  .icon{
    display: block;
    margin-top: -10px;
   }
   .icon.hide{
    display: none;
   }
  nav{
    background: #0e4d92;
    height: 8vh;
  }
  footer{
    background: gray;
    padding: 35px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  footer h2{
    color: white;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }
  body{
    font-family: montserrat;
    position: relative;
    margin: 0;
    min-height: 100%;
    box-sizing: inherit;
    padding-bottom: 20rem;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white;
    top: 0;
    max-width: 400px;
    left: -100%;
    text-align: center;
    padding: 40px 0;
    transition: all .3s ease;
    display: block;
    z-index: 9999;
   }
   nav ul.active{
    left: 0%;
   }

   nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
   }
   nav ul li a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: #0e4d92;
   }
   nav ul li a:hover {
    background: none;
    color: aqua;
   }

  .anime{
    width: 400px;
    height: 250px;
    margin-top: 20px;
    margin-left: 0px;
  }
  .content{
    color: #000;
    margin-left: 30px;
    margin-top: 30px;
  }
  .content h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
  }
  .content .par{
    color: #000;
    font-family:'Times New Roman', Times, serif;
    font-size: 10px;
    font-style: bold;
    margin-top: 0px;
  }
  .content .cn{
    width: 100px;
    height: 20px;
    background: #0e4d92;
    border: none;
    color: white;
    font-size: 9px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
  }
  .content2{
    color: #000;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
  }
  .content2 h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
  }
  .content2 .par2{
    color: #000;
    font-family:'Times New Roman', Times, serif;
    font-size: 10px;
    font-style: bold;
    margin-top: 0px;
    line-height: 10px;
  }
  .content2 .cn2{
    width: 100px;
    height: 20px;
    background: #0e4d92;
    border: none;
    color: white;
    font-size: 9px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
  }

  .content3{
    color: white;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 100px;
    background-image: url(tradingbck2.jpg);
  }
  .content3 h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    padding-bottom: 10px;
  }
  .content3 .par3{
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 8px;
    font-style: bold;
    margin-top: 0px;
    line-height: 10px;
  }
  .content3 .cn3{
    width: 100px;
    height: 20px;
    background: #0e4d92;
    border: none;
    color: white;
    font-size: 9px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
  }
  .cn3:hover{
    background-color: #00ffff;
    color: #000;
  }
  .text-muted {
    color: #8492a6!important;
  }
  .text-muted {
    color: #6c757d!important;
  }
  .mb-0, .my-0 {
    margin-bottom: 0!important;
    font-size: 14px;
  }
  .title-2{
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
  }
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
    max-width: 1200px;
  }


  .rates-container[_ngcontent-nrr-c12] {
    position: relative;
    background: #FFFFFF;
    margin-top: -50px;
  }

  .home-cta[_ngcontent-nrr-c12] {
    margin: 0;
    padding: 8.286rem 6.714rem 14.286rem;
    flex-direction: column;
    position: relative;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    background: #5352EC;
    background-image: url(tradingbck3.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 8.286rem 10.714rem 16.286rem;
    margin-top: 50px;
    }
  

  .home-cta[_ngcontent-nrr-c12] .title[_ngcontent-nrr-c12] {
    color: #fff;
    font-size: 5rem;
    line-height: 5.1rem;
    font-weight: 900;
  }

  .home-cta[_ngcontent-nrr-c12] p[_ngcontent-nrr-c12] {
    color: #e1e1f0;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
    font-weight: 300;
  }

  .rate-calculator[_ngcontent-nrr-c12] {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20%;
  }

  .rate-calculator[_ngcontent-nrr-c12] .calculator[_ngcontent-nrr-c12] {
    position: relative;
    margin-top: -12rem;
    background: #FFFFFE;
    border: .75rem solid #F5F5FE;
    display: flex;
    justify-content: space-between;
    border-radius: 1.875rem;
    width: 100%;
    overflow: auto;
    padding: 3.125rem;
    flex-direction: column;
    gap: 3.5rem;
    align-items: flex-start;
  }

  .rate-calculator[_ngcontent-nrr-c12] .calculator[_ngcontent-nrr-c12] .toggler[_ngcontent-nrr-c12] {
    display: flex;
    border-radius: 0.625rem;
    background: #F2F2F2;
    padding: 0.375rem;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.75rem;
  }

  .rate-calculator[_ngcontent-nrr-c12] .calculator[_ngcontent-nrr-c12] .toggler[_ngcontent-nrr-c12] .toggle-btn.active[_ngcontent-nrr-c12] {
    color: #000;
    background: #FFFFFF;
  }

  .rate-calculator[_ngcontent-nrr-c12] .calculator[_ngcontent-nrr-c12] .toggler[_ngcontent-nrr-c12] .toggle-btn[_ngcontent-nrr-c12] {
    background: none;
    border-radius: 0.625rem;
    padding: 0.875rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border: none;
    text-align: center;
    color: #b3b3b3;
    font-size: 0.875rem;
  }
 
}